<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>Keywords <%= f.text_field :keywords %></p>
  <% if params[:dates].to_s.to_i == 1 %>
    <p>From date taken <%= f.date_select :min_date %></p>
    <p>Until date taken <%= f.date_select :max_date %></p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
