<div class="search_item">
  <%= search.attributes.reject { |a| a =~ /tiles/i }.inspect %><br/>
  <%= link_to "[continue]", search_path(search, :continue => 1), :id => "continue_#{search.id}", :class => "continue_search_link" %>
  <%= link_to "[just show]", search_path(search, :display => 1), :id => "show_#{search.id}", :class => "show_search_link" %>
  <%= link_to "[restart exploratory]", search_path(search, :restart_exploratory => 1), :id => "restart_xp_#{search.id}", :class => "restart_xp_link" %>
  <%= link_to "[restart refinement]", search_path(search, :restart_refinement => 1), :id => "restart_rf_#{search.id}", :class => "restart_rf_link" %>
  with <%= select_tag(:browsers, options_for_select((1..Instance.count).entries, 1), :id => "browsers_#{search.id}", :class => "browsers_select") %> browsers
  <%= link_to "[x]", search, :method => :delete, :confirm => "Are you sure?" %>
</div>