<div class="grid_49">
  <div class="search_controls">
    
    <div id="keywords_option" class="option">
      <%= form_for Search.new(:keywords => @search.keywords) do |f| %>
        <div id="keywords_label" class="label">
          <%= f.label :keywords %>
        </div>
        <div id="keywords_control" class="value">
          <div>
            <%= f.text_field :keywords, :class => "text_box" %>
            <%= f.submit "Search" %>
          </div>
        </div>
      <% end %>
    </div>
    
    <%= search_option "search_phase" do %>
      <%= @search.phase %>
      <%= check_box_tag :running, 1, true %>
    <% end %>

    <%= search_option "layer" do %>
      <%= select_tag :layer, options_for_select([["neighbor hitmap", "neighbor"], ["degree hitmap", "degree"]]) %>
    <% end %>

    <%= search_option "level" do %>
      <%= select_tag :level, options_for_select((0..6).entries.map { |i|
          ["Level #{i} (#{number_to_human 50*5**i, :units => {:unit => "m", :thousand => "km"}})", i]}) %>
    <% end %>
    
    <%= search_option "available_points" do %>
      <%= @search.statistics["available_points"] %>
    <% end %>

    <%= search_option "visible_points" do %>
      <%= @search.statistics["visible_points"] %>
    <% end %>

    <%= search_option "visible_tiles" do %>
      <%= @search.statistics["visible_tiles"] %>
    <% end %>

    <%= search_option "hottest_tiles" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <div id="map_wrapper">
      <div id="map">

      </div>
    </div>
    
    <%= search_option "degree_range" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "neighbor_range" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "selected_tile" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "selected_tile_degree" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "selected_tile_neighbors" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "current_input_tile", "smaller_value" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option "pan_map_to_input_cell" do %>
      <%= check_box_tag :pan_map, 'input', false %>
    <% end %>  
    
    <%= search_option "pan_map_to_hottest_cell" do %>
      <%= check_box_tag :pan_map, 'hottest', false %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option " " do %>
      <%= @search.statistics["degrees"] %>
    <% end %>  
    
    <%= search_option "exploratory_pages", "double_width" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "refinement_boxes", "double_width" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
  </div>
</div>
<div id="jeocrowd_config">
  <%= @search.attributes.to_json %>
</div>