<div class="grid_49">
  <div class="search_controls">
    
    <div id="keywords_option" class="option">
      <%= form_for Search.new(:keywords => @search.keywords) do |f| %>
        <div id="keywords_label" class="label">
          <%= f.label :keywords %>
        </div>
        <div id="keywords_control" class="control text_box">
          <div>
            <%= f.text_field :keywords, :class => "text_box" %>
            <%= f.submit "Search" %>
          </div>
        </div>
      <% end %>
    </div>
    
    <%= search_option "Search phase" do %>
      <%= @search.phase %>
    <% end %>

    <%= search_option "Layer" do %>
      <%= select_tag :layer, options_for_select([["neighbor hitmap", "neighbor"], ["degree hitmap", "degree"]]) %>
    <% end %>

    <%= search_option "Level" do %>
      <%= select_tag :level, options_for_select((0..6).entries.map { |i|
          ["Level #{i} (#{number_to_human 50*5**i, :units => {:unit => "m", :thousand => "km"}})", i]}) %>
    <% end %>
    
    <%= search_option "Available points" do %>
      <%= @search.statistics["available_points"] %>
    <% end %>

    <%= search_option "Visible points" do %>
      <%= @search.statistics["visible_points"] %>
    <% end %>

    <%= search_option "Visible cells" do %>
      <%= @search.statistics["visible_cells"] %>
    <% end %>

    <%= search_option "Hottest cells" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <div id="map_wrapper">
      <div id="map">

      </div>
    </div>
    
    <%= search_option "Degree range" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "Neighbor range" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "Selected cell" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "Selected cell degree" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "Selected cell neighbors" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
    <%= search_option "Current input cell" do %>
      <%= @search.statistics["degrees"] %>
    <% end %>
    
  </div>
</div>
<div id="jeocrowd_config">
  <%= @search.attributes.to_json %>
</div>