<div id="<%= label %>_option" class="option">
  <div id="<%= label %>_label" class="label">
    <%= label_tag label.titleize %>
  </div>
  <div id="<%= label %>_value" class="value">
    <%= yield %>
  </div>
</div>