<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      Jeocrowd4s
    </title>
    <%= stylesheet_link_tag    "application" %>
    <%= include_google_maps %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container_49">
      <div class="grid_49">
        <%= link_to "Searches", searches_path %> |
        <%= link_to "Instances", instances_path %> |
        <%= link_to "Profiles", profiles_path %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
